<ion-header>
  <ion-navbar>
    <ion-title>
      Atividades
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--<button ion-button block color="primary" (click)="signOut()">
    Sair
  </button>
-->

  <form #form="ngForm" novalidate>
    <ion-list>
      <ion-item>
        <ion-label>Atividade</ion-label>
        <ion-select [(ngModel)]="item.atividade" interface="popover" name="atividade" #atividade="ngModel" required>
          <ion-option value="A">Adubação</ion-option>
          <ion-option value="P">Pulverização</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Data</ion-label>
        <ion-datetime text-center displayFormat="DD, MMM, YYYY" format pickerFormat="DD, MMM, YYYY" [(ngModel)]="item.data" name="data" #data="ngModel" required></ion-datetime>
      </ion-item>   
      <ion-item>
        <ion-label fixed>Descrição</ion-label>
        <ion-input type="text" name="descricao" text-right [(ngModel)]="item.descricao" #descricao="ngModel" required></ion-input>
      </ion-item>
      <ion-item *ngIf="descricao.errors && (descricao.dirty || descricao.touched)" class="text-danger">
        Descrição é obrigatório
      </ion-item>
      <br>
      <button ion-button full icon-start (click)="addItem(item)"><ion-icon name="archive"></ion-icon>Salvar</button>
    </ion-list>  
  </form>

  
  <ion-list>
    
      <!--<ion-item-divider color="light">A</ion-item-divider>!-->
      <ion-item icon-right *ngFor="let item of items | async">
        
        <h2>{{ item.data | date  }}</h2>
        <p>{{ item.atividade == 'A' ? 'Adubação' : 'Pulverização' }} | {{ item.descricao }}</p>
       
        <button ion-button icon-only clear item-end  (click)=removeItem(item)>
          <ion-icon name="trash" ></ion-icon>
        </button>
        
      </ion-item>
  </ion-list>

</ion-content>
